{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id="normalContentArea">
	<div class="imageWrapper">
		<img src="{% static 'image/server_rent.png' %}"/>
	</div>
</div>
{% endblock %}