{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="test">
    <head>
        <base href="/">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript">
        </script>
        <script src="{% static 'js/library/angular.min.js'%}" type="text/javascript">
        </script>
        <script src="{% static 'js/library/angular-animate.min.js'%}" type="text/javascript">
        </script>
        <script src="{% static 'js/library/angular-cookies.min.js'%}" type="text/javascript">
        </script>
        <script src="{% static 'js/library/CSSPlugin.min.js' %}" type="text/javascript">
        </script>
        <script src="{% static 'js/library/TweenLite.js' %}" type="text/javascript">
        </script>
        <script src="{% static 'js/library/ag-grid.min.js' %}" type="text/javascript">
        </script>
        <script src="{% static 'js/app.js' %}" type="text/javascript">
        </script>
        <script src="{% static 'js/services.js' %}" type="text/javascript">
        </script>
        {# Load the tag library #}
        {% load bootstrap3 %}
        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
        <meta charset="utf-8">
            <title>
                Genometrax Results
            </title>
            <link href="{% static 'css/element.css' %}" rel="stylesheet">
                <link href="{% static 'css/class.css' %}" rel="stylesheet">
                    <link href="{% static 'css/id.css' %}" rel="stylesheet">
                    </link>
                </link>
            </link>
        </meta>
    </head>
    <body ng-controller="GlobalController as GlobalController" ng-init="GlobalController.initailizeBody()">
        <div id="genometraxResultImageWrapper">
            <img src="{% static 'image/genometrax_result.png' %}"/>
        </div>
 {% if genometrax_feature_result_json_data and genometrax_ontology_result_json_data and current_database %}
    <div id="genomTraxArea" ng-init="GlobalController.initialiizeAgGrid({{current_database}}, {{genometrax_feature_result_json_data}}, {{genometrax_ontology_result_json_data}})">
        <div id="currentDatabaseWrapper" ng-init="GlobalController.setCurrentDatabase({{genometrax_ontology_result_json_data}}, {{current_database}})" ng-click="GlobalController.toggleDatabaseList()">
                <a id="currentDatabase" href="">
                    {% verbatim %}
                        {{ currentDatabaseName }} 
                    {% endverbatim %}
                </a>
                <img id="selectDatabaseArrow" src="{% static 'image/down-arrow.png' %}"/>
        </div>
        <div id="databaseListWrapper" ng-if="GlobalController.getDatabaseListFlag()">
                <div id="databaseList">
                    {% for database_list_number in database_list%}
                    <a href="/show_genometrax_results/{{database_list_number.0}}/{{random_id}}/1/">
                        <div class="databaseListElement">
                        {{ database_list_number.1 }}
                        </div>
                    </a>
                    {% endfor %}
                </div>
        </div>
        <div id="genomeTraxSwitchButtonWrapper">
            <a ng-click="GlobalController.setDownloadStatus('all')" id="genomeTraxAllText" href="">
                All
            </a>
            <a ng-click="GlobalController.toggleDownloadStatus()" href="">
                <img ng-if="GlobalController.isDownloadStatusAll()==true" id="genomeTraxSwitchButton" src="{% static 'image/switch_left.png' %}">
                <img ng-if="GlobalController.isDownloadStatusCurrent()==true" id="genomeTraxSwitchButton" src="{% static 'image/switch_right.png' %}">
            </a>
            <a ng-click="GlobalController.setDownloadStatus('current')" id="genomeTraxCurrentText" href="">
                Current
            </a>
        </div>
        <div id="genomeTraxDownloadButtonWrapper">
            <a id="genomeTraxDownloadButton" href="/export_xlsx/{% verbatim %}{{downloadStatus}}{% endverbatim %}/{{current_database}}/{{random_id}}">Download</a>
        </div>
        <div id="agGridTable" ag-grid="gridOptions" class="ag-blue"></div>
        <a id="genomeTraxFirstButton" href="/show_genometrax_results/{{current_database}}/{{random_id}}/1/">First</a>
        {% if page_number != 1 %}
        <a id="genomeTraxPreviousButton" href="/show_genometrax_results/{{current_database}}/{{random_id}}/{{page_number|add:"-1"}}/">Previous</a>
        {% elif page_number == 1 %}
        <a id="genomeTraxPreviousButton" href="/show_genometrax_results/{{current_database}}/{{random_id}}/{{page_number}}/">Previous</a>
        {% endif %}
        <div id="genomeTraxIndex">Page {{page_number}} of {{total_page_number}}</div>
        {% if page_number != total_page_number %}
        <a id="genomeTraxNextButton" href="/show_genometrax_results/{{current_database}}/{{random_id}}/{{page_number|add:"1"}}/">Next</a>
        {% elif page_number == total_page_number %}
        <a id="genomeTraxNextButton" href="/show_genometrax_results/{{current_database}}/{{random_id}}/{{page_number}}/">Next</a>
        {% endif %}
        <a id="genomeTraxLastButton" href="/show_genometrax_results/{{current_database}}/{{random_id}}/{{total_page_number}}/">Last</a>
    </div>
{% else %}
    <div id="normalContentArea">
        No Results
    </div>
{% endif %}
    </body>
</html>
